<html>
    <head>
        <title>Twitter</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
              <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
  
         
         
         
          <body class="back">
         
         <div class="ui fixed inverted menu">
             <div class="ui container">
                 <div class="header item"><i class="code icon"></i>Twitter App</div>
                 <div class="right menu">
                     <p>
                         <form action="/twitter" method="GET" class="ui form">
                   
                             <div class="header item" >
                                 
                                 <input type="text" name="search" placeholder="search ...." >
                                 <input type="submit" value="search" class="ui blue inverted button">
                             </div>
                         </form>
                     </p>
                </div>
             </div>
         </div>
        