
<% include ./partials/header %>

<div class=" ui main text container">
    <div class="ui huge header ">Tweets</div>
    <div class="ui top attached segment">
    <div class="ui divided items">
         <% tweet.forEach(function(tweet){ %> 
      
        <div class="item">
            <div class="content">
                <div class="discription">
                     <p><%= tweet.text %></p>
                </div>
                 <div class="discription">
                     <p>The score is <%= tweet.score %></p>
                </div>
            
         
            </div>
        </div>
                <% }) %>
    </div>
    </div>
    
</div>

                     